activemq/target/classes/activemq.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
	<http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
	<jms:activemq-connector name="Active_MQ" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
	<flow name="activemqFlow">
		<http:listener config-ref="HTTP_Listener_Configuration" path="/sendmessage" doc:name="HTTP"/>
		<object-to-string-transformer doc:name="Object to String"/>
		<jms:outbound-endpoint queue="mulequeue" connector-ref="Active_MQ" doc:name="JMS"/>
		<set-payload value="#[&quot;Your Mule message has been published to ActiveMQ&quot;]" doc:name="Set Payload"/>
	</flow>
	<flow name="activemqFlow1">
		<jms:inbound-endpoint queue="mulequeue" connector-ref="Active_MQ" doc:name="JMS"/>
		<set-payload value="#[payload]" mimeType="application/json" doc:name="Set Payload"/>
		<logger message="#[payload]" level="INFO" doc:name="Logger"/>
		<file:outbound-endpoint path="src/test/resources/messages" outputPattern="message.json" responseTimeout="10000" doc:name="File"/>
	</flow>
</mule>
